.box-cart {
    background: url(../image/menu-bg.jpg) no-repeat;
    min-height: 100vh;
    padding-top: 12rem;
    background-position: center;
    background-size: cover;
    position: relative;
}

.box{
    min-width: 10rem;
    padding:2rem;
    border:var(--border);
    border-radius: var(--border-radius);
    display: flex;
    gap:1.5rem;
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
}

.box:hover{
    border:var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.box-cart .box img{
    height: 10rem;
    margin-left: -6rem;
    border-radius: 50%;
}

.cart-items{
    margin-top: 1.5rem;
}

.box-cart .box img:hover{
    height: 12rem;
    margin-left: -6rem;
    border-radius: 50%;
}

.box-cart .box .content h3{
    font-size: 2.2rem;
    color:var(--main-color);
    line-height: 1.8;
}

.box-cart .box .content span{
    font-size: 2rem;
    color:var(--main-color);
    line-height: 1.8;
}


.cart-buttons{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-count{
    padding: 1rem;
    font-size: 2rem;
    color: gray;
}

.cart-removeItem{
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-details{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.title{
    font-size: 2rem;
    font-weight: 900;
}

.price-data{
    font-size: 2rem;
    
}